# Python
__pycache__/
*.pyc
*.pot
*.log
*.py[cod] 
*$py.class

#Django
media

# Backup files
*.bak

# Python venv
*venv*/

# VS Code
.vscode/
.history

# Pycahrm
.idea/ 

# Jupyter Notebook
.ipynb_checkpoints

# Sublime Text # 
*.tmlanguage.cache 
*.tmPreferences.cache 
*.stTheme.cache 
*.sublime-workspace 
*.sublime-project

#Database
*.sqlite3