.header {
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    margin-left: 40px;
}

.search_input {
    border: 1.5px solid #2D2D2D;
    border-radius: 100px;
    height: 40px;
    width: 334px;
    margin-left: 97px;
    padding-left: 14px;
    padding-top: 5px;
}

input::placeholder {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #2D2D2D;
  }

  .person {
    margin-left: 98px;
  }